/* Navbar container */
.custom-navbar {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px; /* Add padding for better spacing */
}

/* Brand (Navbar.Brand) */
.brand {
    color: red;
    font-weight: bold;
    font-size: 25px;
    margin-left: 5%;
}

/* Home icon */
.home-icon {
    margin-right: 10px;
}

/* Navigation links */
.nav-link {
    margin-right: 10px; /* Adjust spacing between links */
    color: white;
}

.nav-link:hover {
    color: #ff5733; 
    /* Change color on hover */
}

/* Custom button style */
.btn-custom {
    color: white;
    background-color: steelblue;
    width: 100%;
}

.btn-custom:hover {
    background-color: white;
    color: black;
}

/* Logout link */
.logout {
    color: red;
    font-weight: bold;
    margin-top: 10px; /* Adjust top margin for better spacing */
    transition: color 0.3s; /* Smooth color transition */
}

.logout:hover {
    color: #dc3545; /* Change color on hover */
}

/* Username */
.username {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-left: -60px;
}

/* Mobile view styles */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Stack nav links vertically */
    }

    .nav-link {
        margin: 5px 0; /* Adjust spacing for stacked links */
    }

    .brand {
        margin-left: 0; /* Remove left margin for brand */
        text-align: center; /* Center align brand */
    }

    .logout {
        margin-left: 0; /* Remove left margin for logout link */
        text-align: center; /* Center align logout link */
    }

    .username {
        margin-left: 0; /* Remove left margin for username */
    }
}
